<!DOCTYPE html>
<html>

<head>
	<title>Personal Breach</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Code Pro">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/static/png/favicon.png">
</head>

<body>

	<center>

		<h1>Iris Stein's Info</h1>
		<h2>Please include the spaces.</h2>
		<br>

		<table id="form">
			<tr>
				<td><label for="q1">How old is Iris?</label></td>
				<td>
					<input type="text" name="q1"/>
					<img id="q1-img" src="/static/png/blank.png"/>
				</td>
			</tr>
			<tr>
				<td><label for="q2">What hospital was Iris born in?</label></td>
				<td>
					<input type="text" name="q2"/>
					<img id="q2-img" src="/static/png/blank.png"/>
				</td>
			</tr>
			<tr>
				<td><label for="q3">What company does Iris work for?</label></td>
				<td>
					<input type="text" name="q3"/>
					<img id="q3-img" src="/static/png/blank.png"/>
				</td>
			</tr>
		</table>

		<br>
		<button id="submit">Submit</button>

		<br>
		<h2 id="flag"></h1>

	</center>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/static/js/challenge.js"></script>

</body>

</html>
